.header {
  background: #eee;
  padding: 15px;
  width: 25%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
}

.custom-container {
  display: flex;
  justify-content: center;
  margin: 5px 0px 5px 0px;
  i {
    background: #eee;
    padding: 5px;
    display: flex;
    align-items: center;
  }
}

.disabled {
  cursor: not-allowed;
}

.input {
  width: 22.5%;
  padding: 5px;
  border: 1px solid #eee;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  .list-child {
    width: 25%;
    border: 1px solid #eee;
  }
  .list-item {
    padding: 5px;
    i {
      color: red;
    }
  }
}

.m-10 {
  margin: 10px;
}

.float-r {
  float: right;
}

.custom-btn {
  float: right;
  background: transparent;
  border: none;
}
