<div class="main">
  <div class="header">
    <label>To Do List App</label>
  </div>
</div>
<div class="custom-container">
  <input type="text" class="input" [(ngModel)]="itemValue" />
  <i class="fa fa-plus-circle fa-2x" aria-hidden="true" (click)="onAdd()"></i>
</div>

<div class="list" *ngFor="let item of this.listData">
  <div class="list-child">
    <input
      class="m-10"
      type="radio"
      (click)="updateListItem(item.key, item.active)"
      [checked]="item.active"
    />
    <span class="list-item">
      <label>{{ item.name }}</label>
      <button
        [disabled]="!item.active"
        class="custom-btn"
        (click)="deleteListItem(item.key)"
      >
        <i class="fa fa-trash m-10" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</div>
